doctype html
html
  head
    title Chat Application Example by DEVAHOY
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
        const socket = io({transports: ['websocket']});
        console.log('hit')
        setTimeout(function(){
         $('form').submit(function() {
        console.log('hit')
        const name = $('#name').val();
        const message = $('#message').val();
        socket.emit('chatter', `${name} : ${message}`);
        $('#message').val('');
        return false;
        });
        socket.on('chatter', function(message) {
        $('#chat-messages').append($('<li>').text(message));
        });
        },100)
       
  body
    #chat-app
      #chat.has-text-centered
        section.hero.is-success
          .hero-body
            .container
              h1.title අලයා ගේ  චැට් 
              h2 Chat Application with Node.js + socket.io
        section.section.chat-container
          .container
            .columns
              .box.column.is-8.is-offset-2
                h2.title Chatbox
                .chat-messages.has-text-left
                  ul#chat-messages
                form
                  .field.has-addons
                    p.control
                      input(type='text', class='input', value='Sylie', id='name')
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='Try to say something', id='message')
                    p.control
                      input(type='submit', class='button is-success', value='send')
        footer
          .container
            .content
              p
                | Powered by Sanjaya